cachetools==5.3.1
fastapi==0.101.1
fastapi_socketio==0.0.10
pydantic-settings==2.0.3
python-binance==1.0.19
python-socketio[client]==5.8.0
schedule==1.2.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.20
unicorn-binance-websocket-api==1.46.1
uvicorn[standard]==0.23.2